@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow-x: hidden; /* Ensure no horizontal scrollbar appears */
  font-size: 18px;
  font-family: sans-serif;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #EAE4DD;
}

div {
  padding: 0px;
  margin: 0px;
}

.container {
  width: 100%; /* Set the container width to 100% */
  max-width: none; /* Ensure there's no maximum width constraint */
}

h2 {
  text-align: center;
  color: #000000;
  margin-bottom: auto;
  z-index: 1;
}

/* Header Section */

.header {
  width: 100%;
  max-width: none;
}

#main-title {
  font-size: 3.7rem;
}

.main-banner {
  padding: 50px;
  z-index: 1;
  animation: fadeIn 2s;
}

#banner-subtitle {
  font-size: 2.5rem;
  font-style: italic;
  text-align: center;
  color: #295F98;
  z-index: 1;
}

/* Header End */

/* Projects Section */

#portfolio-title {
  font-size: 2.5rem;
}

.projects-section {
  padding-top: 1%;
  padding-bottom: 1%;
}

#project-headline {
  text-align: center;
  z-index: 1;
}

.projects {
  display: inline-flex;
  z-index: 1;
  flex-wrap: wrap;
  min-width: 100px;
  justify-content: center;
}

.project-img {
  height: 175px;
  width: 300px;
  border: hidden;
  border-radius: 10%;
  margin: 20px;
  transition: transform 1s;
  z-index: 1;
}

.project-img:hover {
  height: 175px;
  width: 300px;
  border: hidden;
  border-radius: 10%;
  margin: 20px;
  transform: scale(1.1);
  box-shadow: 0 10px 20px 0 #295F98;
  z-index: 1;
}
/* Projects End */

/* Contact Section */

.contact {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #CDC2A5;
  width: 100%;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #295F98;
  margin-bottom: 1%;
}

#contact-content {
  text-align: center;
}

.contact-description {
  color: #494949;
  text-decoration: none;
}

.contact-image {
  width: 32px;
  height: 32px;
  margin: 10px;
}

.contact-image:hover {
  height: 32px;
  width: 32px;
  margin: 10px;
  border: hidden;
  border-radius: 50%;
  transform: scale(1.1);
  box-shadow: 0 10px 20px 0 #87c3ffcd;
}
